<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
</head>
<body>
  <h1>Products</h1>
  <form action="/products" method="POST">
    <input type="text" name="name" id="" placeholder="name">
    <input type="number" name="price" id="" placeholder="price">
    <input type="radio" name="inStock" id="" value="true">true
    <input type="radio" name="inStock" id="" value="false">false
    <button>Submit</button>
  </form>

</body>
</html>